<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/singer/layout::head">
    <meta charset="UTF-8">
    <title>Create New Singer!!!</title>
</head>
<body>

<div class="container-fluid">
    <div class="card">
        <h1 class="text-center card-header">Create New Singer
            <p><a href="/admin/singers" class="float-right btn btn-success btn-sm">Singer List</a></p>
        </h1>

        <div class="card-body">
            <div class="alert alert-primary" th:if="${message}" th:text="${message}"></div>

            <form th:action="@{/admin/singers/create}" th:object="${singer}" method="post" enctype="multipart/form-data">
                <table id="singers" class="table table-success">
                    <tr>
                        <td >Singer Name:</td>
                        <td><input required placeholder="Enter singer name" class="form-control mb-2" type="text" th:field="*{name}"/></td>
                    </tr>

                    <tr>
                        <td>Description:</td>
                        <!--            <td><input type="text" th:field="*{description}"/></td>-->
                        <td><textarea required placeholder="description" class="form-control mb-2" cols="50" rows="5" th:type="text"
                                      th:field="*{description}"></textarea></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td><input type="submit" class="form-control mb-2 btn btn-success" value="Create Singer"></td>
                    </tr>
                </table>
            </form>

        </div>




    </div>




<footer th:replace="/admin/singer/layout :: footer"></footer>
</div>
</body>
</html>